/* Home */
.home {
    background: linear-gradient(to bottom right, #a8c0ff, #3f2b96);
    /* 3EF078 and 8f94fb */
    /* #4e54c8, #3EF078 */

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: auto;
}

.home{
    padding-top: 50px;
    padding: 150px;
    color: black;
}

.home h3 {
    font-size: 1.5rem;
    font-weight: 450;
}